<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:fragment="link-css" rel="stylesheet" th:href="@{/css/homePage.css}">
    <title>Wedding Yang My</title>
</head>

<body>
<header th:fragment="header">
    <img src="" alt="">
    <nav>
        <ul class="navlinks">
            <li class="items"><a href="/users">Danh sách khách mời</a></li>
            <li class="items"><a href="/users/add">Thêm khách mời</a></li>
            <li>
                <form action="/users/search" method="get">
                    <input type="text" style="padding: 10px;border: 1px solid #ccc;border-radius: 5px;font-size: 16px;width: 400px;margin-right: 10px;" name="name" placeholder="Nhập tên...">
                    <button style="padding: 10px 20px;background-color: #4CAF50;color: white;border: none;border-radius: 5px;cursor: pointer;font-size: 16px;transition: background-color 0.3s ease;" type="submit">Tìm kiếm</button>
                </form>
            </li>
            <li>
                <form class="d-flex" action="/logout" method="post">
                    <button>Đăng xuất</button>
                </form>
            </li>
            <li onclick="showSidebar()"><a href="#"><ion-icon name="menu-outline"></ion-icon></a></li>
        </ul>
        <ul class="sidebar">
            <li onclick="closeSidebar()"><a href="#"><ion-icon name="close-outline"></ion-icon></a></li>
            <li><a href="/users">Danh sách khách mời</a></li>
            <li><a href="/users/add">Thêm khách mời</a></li>
        </ul>
    </nav>
</header>
<div th:insert="~{::${content}}">

</div>
<footer th:fragment="footer">
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</footer>
<script>
        function showSidebar() {
            const sidebar = document.querySelector(".sidebar");
            sidebar.style.display = 'flex';
            setTimeout(() => {
                sidebar.style.transform = 'translateX(0)';
            }, 10);
        }

        function closeSidebar() {
            const sidebar = document.querySelector(".sidebar");
            sidebar.style.transform = 'translateX(100%)';
            setTimeout(() => {
                sidebar.style.display = 'none';
            }, 300);
        }
    </script>
</body>
</html>